//styling
@mixin flexCenterRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceBetweenRow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flexSpaceAroundRow{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@mixin flexSpaceEvenlyRow{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexStartRow{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexCenterColumn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceEvenlyColumn{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexSpaceBetweenColumn{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flexStartColumn{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin HideTextOverflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}