@use "./typography" as *;

$desktop-max-width: 1280px;

//colors

//primary
$bone: #faf9f7;
$cream: #F7EFE5;
$lilac: #C3ACD0;
$dark-purple: #674188;
$purple: #7209b7;
$neon-pink: #f08bcb;

$black: #242121;
$ash: #8f8c8c;